---
import '../css/reset.css';
import '../css/root.css';
import '../css/fonts.css';
import '../css/styles.css';
import { Image } from 'astro:assets';
import PlantillaBase from "../layout/plantillaBase.astro";
import Button from '../components/button.astro';
import Cards from '../components/cards.astro';
let btn = "btn__landing--header";
let card1 = "color1";
let card2 = "color2";
let card3 = "color3";
import imgcard1 from "../assets/icon-1.png";
import imgcard2 from "../assets/icon-2.png";
import imgcard3 from "../assets/icon-3.png";
import associate from "../assets/logo-grid.jpg"
let title = "Landing";
let description = "Pagina de pruebas";
---

<PlantillaBase title={title} description={description}>
  <div class="container__landing">
    <div class="container__landing--p">
      <div class="container__landing--m">
        <div class="container__landing--receiver">
          <h1 class="titulo__principal">Full Service Web Design Agency</h1>
          <p class="parrafo">In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="container__landing--pb">
          <div class="container__landing--button">
              <Button btn={btn}>
                Our work
              </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main>
    <section class="landing__section1">
      <div class="section1__row--intro row">
        <h2 class="section1__title">Our services</h2>
        <p class="section1__parrafo">In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique.</p>
      </div>
      <div class="section1__row--cards row">
        <Cards id={card1}>
          <Image src={imgcard1} alt="imagen" />
          <h3 class="card__title">Branding</h3>
          <p class="parrafo">In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.</p>
        </Cards>
        <Cards id={card2}>
          <Image src={imgcard2} alt="imagen" />
          <h3 class="card__title">SEO</h3>
          <p class="parrafo">In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.</p>
        </Cards>
        <Cards id={card3}>
          <Image src={imgcard3} alt="imagen" />
          <h3 class="card__title">Development</h3>
          <p class="parrafo">In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.</p>
        </Cards>
      </div>
      <div class="section1__row--associates row">
        <Image src={associate} alt="imagen" />
      </div>
    </section>
  </main>
</PlantillaBase>
