---
import '../css/reset.css';
import '../css/root.css';
import '../css/fonts.css';
import '../css/styles.css';
import PlantillaBase from "../layout/plantillaBase.astro";
import Button from '../components/button.astro';
import Cards from '../components/cards.astro';
let btn = "btn__pricing1";
let btn2 = "btn__pricing2";
let btn3 = "btn__pricing3";
let card1 = "pricing__color1";
let card2 = "pricing__color2";
let card3 = "pricing__color3";
let title = "Pricing";
let description = "Pagina de pruebas(pricing)";
---

<PlantillaBase title={title} description={description}>
  <div class="pricing__container">
    <div class="pricing__container--title">
      <h1 class="pricing__title">Let's Build Something</h1>
      <p class="pricing__parrafo">In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis.</p>
    </div>
  </div>
  <main>
    <section class="pricing__section1">
      <div class="pricing__section1--row row">
        <Cards id={card1}>
          <div class="pricing__card--title">
            <h2 class="pcard__title">Website</h2>
            <p class="pcard__subtitle">starting at</p>
          </div>
          <div class="pricing__card--price">
            <p class="pcard__amount">$999</p>
          </div>
          <div class="pricing__card--details">
            <ul class="pcard__details">
              <li>1 Complete Product</li>
              <li>1 Year Support</li>
              <li>Dedicated Server</li>
              <li>1 Research Demos</li>
            </ul>
          </div>
          <div class="pricing__card--button">
            <Button btn={btn}>
              Get started
            </Button>
          </div>
        </Cards>
        <Cards id={card2}>
          <div class="pricing__card--title">
            <h2 class="pcard__title">Brand + Website</h2>
            <p class="pcard__subtitle">starting at</p>
          </div>
          <div class="pricing__card--price">
            <p class="pcard__amount">$1500</p>
          </div>
          <div class="pricing__card--details">
            <ul class="pcard__details">
              <li>1 Complete Product</li>
              <li>1 Year Support</li>
              <li>Dedicated Server</li>
              <li>1 Research Demos</li>
            </ul>
          </div>
          <div class="pricing__card--button">
            <Button btn={btn2}>
              Get started
            </Button>
          </div>
        </Cards>
        <Cards id={card3}>
          <div class="pricing__card--title">
            <h2 class="pcard__title">Full Web Package</h2>
            <p class="pcard__subtitle">starting at</p>
          </div>
          <div class="pricing__card--price">
            <p class="pcard__amount">$2000</p>
          </div>
          <div class="pricing__card--details">
            <ul class="pcard__details">
              <li>1 Complete Product</li>
              <li>1 Year Support</li>
              <li>Dedicated Server</li>
              <li>1 Research Demos</li>
            </ul>
          </div>
          <div class="pricing__card--button">
            <Button btn={btn3}>
              Get started
            </Button>
          </div>
        </Cards>
      </div>
      <div class="pricing__section1--row row">
        <p>Have something more custom in mind? <span class="phighlighted">Get A Quote</span></p>
      </div>
    </section>
  </main>
</PlantillaBase>
